.input-container {
  span.boolean {
    background-color: #59b5ac;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
  }

  p {
    color: #7a8287;
  }
  .form-control:focus {
    box-shadow: none;
  }
  .total-Char {
    float: right;
    clear: right;
    color: #7a8287;
    margin-bottom: 20px;
  }
  .results {
    
    button {
      float: right;
      clear: right;
      &:focus,
      &:active {
        box-shadow: none;
      }
    }
    p {
      color: #8d8e8e;
      font-size: 12px;
      span {
        color: black;
      }
    }
    .keyword-variations {
      margin-bottom: 20px;
      display: flex;
      .main-word {
        color: #636d73;
        font-size: 20px;
        font-weight: bold;
        display: block;
        white-space: nowrap;
        .arrowIcon {
          margin-left: 10px;
        }
      }

      .variation,
      .copy-all {
        background: #59b5ac;
        font-size: 20px;
        font-weight: bold;
        margin-left: 15px;
        color: #fff;
        display: inline-block;
        padding: 5px 10px;
        text-align: center;

        margin-bottom: 10px;
      }
      .copy-all {
        background: #475259;
        cursor: pointer;
      }
    }
  }
}
